@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  padding: 0.75rem;
  border: 2px solid var(--main-white);
  width: calc(100% - 2rem);
}
body {
  color: var(--secundary-white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5mm;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
}

/* Header */
.header {
  display: none;
}
.mobile-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.mobile-div .mobile-div__ul {
  display: flex;
  font-size: 1.7rem;
  gap: 0.5rem;
}
.mobile-div__language__li--p {
  font-size: 1.25rem;
}
.mobile-div__language {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.mobile-div__language::before {
  content: " ";
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 2rem;
  height: 0.1rem;
  border-radius: 0.5rem;
  background-color: var(--main-white);
  box-shadow: 0 -1rem 15px var(--main-white);
  transition: left 100ms ease-in-out;
}
.mobile-language-en::before {
  left: 73%;
}
.mobile-language-es::before {
  left: 18%;
}
/* Titles */
.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  margin-top: 1rem;
}
.section--h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 5px 10px var(--shadow-white);
}
.section--hr {
  width: 65%;
}
.section--h2 {
  font-size: 1.9rem;
  text-shadow: 0 5px 10px var(--shadow-white);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-top: 5rem;
  position: relative;
  padding: 1.25rem 1rem;
}

.main__about--h3,
.main__contact--h3,
.main__projects--h3 {
  font-size: 2rem;
  color: var(--main-white);
  margin-bottom: 2rem;
}
.main__about--p,
.main__contact--p {
  padding-left: 0.75rem;
  font-size: 0.75rem;
  letter-spacing: 1mm;
  color: var(--main-white);
  max-width: 450px;
}
.main__contact__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-left: 0.75rem;
  position: relative;
  z-index: 0;
}
.main__contact__form * {
  background-color: transparent;
  border: none;
  padding: 0.35rem;
  width: 90%;
  z-index: 10;
  color: var(--main-white);
  font-size: 1.25rem;
}

.main__contact__form *:focus-visible {
  outline: none;
}
.main__contact__form--email::placeholder,
.main__contact__form--text::placeholder {
  color: var(--placeholder-white);
  transition: color 200ms ease;
}
.main__contact__form--text,
.main__contact__form--email {
  letter-spacing: 1mm;
  transition: letter-spacing 350ms;
}
.main__contact__form--text {
  height: 10rem;
  resize: none;
}
input:-internal-autofill-selected {
  appearance: none !important;
  background: none !important;
  color: transparent !important;
}
.main__contact__form--label {
  font-size: 1rem;
  letter-spacing: 0.75mm;
  display: block;
  width: 100%;
  padding: 0 0 0 0.5rem;
  transition: 250ms;
}
.main__contact__form__container {
  padding-top: 0;
  position: relative;
}
.main__contact__form__container::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 100%;
  width: 3px;
  height: 100%;
  border-radius: 0.75rem;
  background-color: var(--main-white);
  transition: right 300ms cubic-bezier(0, 0, 0.18, 0.94),
    background-color 300ms cubic-bezier(0, 0, 0.18, 0.94);
}
.main__contact__form__container:has(> input:focus)::before,
.main__contact__form__container:has(> textarea:focus)::before {
  right: 0;
  background-color: var(--dark-green);
}
.main__contact__form__container:has(> input:focus) .main__contact__form--label,
.main__contact__form__container:has(> textarea:focus)
  .main__contact__form--label {
  opacity: 0.5;
  color: var(--green);
  letter-spacing: 0.3mm;
}
.main__contact__form--text:focus,
.main__contact__form--email:focus {
  letter-spacing: 0.75mm;
}
.main__contact__form--text:focus::placeholder,
.main__contact__form--email:focus::placeholder {
  color: var(--dark-green);
}
.main__contact__form--submit {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1rem;
  color: var(--secundary-white);
  transition: all 100ms ease;
  position: relative;
  z-index: 50;
  cursor: pointer;
}
/* Submit Border */
.main__contact__form__border-container {
  width: fit-content;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin-bottom: 0.25rem;
  transition: transform 50ms;
}
.main__contact__form__container--span1,
.main__contact__form__container--span3 {
  padding: 0;
  display: inline-block;
  position: absolute;
  background-color: var(--main-white);
  height: 0.1rem;
  width: 4rem;
  transition: width 250ms cubic-bezier(1, -0.5, 0, 1);
}
.main__contact__form__container--span2,
.main__contact__form__container--span4 {
  padding: 0;
  display: inline-block;
  position: absolute;
  background-color: var(--main-white);
  width: 0.1rem;
  height: 1.5rem;
  transition: height 400ms cubic-bezier(1, -0.5, 0, 1);
}
.main__contact__form__container--span1,
.main__contact__form__container--span2 {
  top: 0;
  left: 0;
}
.main__contact__form__container--span3,
.main__contact__form__container--span4 {
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}
.main__contact__form__border-container:active {
  transform: scale(1.075);
}

/* Projects */
.main__projects {
  width: 100%;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main__projects__project {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.75rem;
  gap: 2rem;
  cursor: pointer;
  z-index: 10;
}
.main__projects__project__ul--li-h4 {
  font-size: 1.25rem;
  letter-spacing: 1mm;
}
.main__projects__project__ul--li {
  font-weight: 400;
}
.main__projects__project__ul {
  padding-left: 0.75rem;
}
.main__projects__project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--main-white);
  transition: 250ms;
  z-index: -2;
}

/* Main Borders */
.main__border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.border--span {
  position: absolute;
  display: inline-block;
  background-color: var(--secundary-white);
  transition: all 100ms ease-in;
}
.main__border--span1,
.main__border--span3 {
  width: 5rem;
  height: 0.1rem;
}
.main__border--span2,
.main__border--span4 {
  height: 12.5rem;
  width: 0.1rem;
}
.main__border--span1,
.main__border--span2 {
  left: 0;
  top: 0;
}
.main__border--span3,
.main__border--span4 {
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

/* Social Networks */
.aside {
  display: none;
}
/* Footer */
.footer {
  margin-block: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.75mm;
  color: var(--shadow-white);
}
.footer--p {
  display: block;
  margin-inline: auto;
  max-width: 90vw;
}

/* Others */
/* .lines {
  display: none;
} */

.panel {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-black);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: panel-animation 1000ms ease-in-out 900ms;
  animation-fill-mode: forwards;
}
.panel--text {
  font-size: 1.5rem;
  animation: panel-text-animation 750ms ease-in-out 150ms;
  animation-fill-mode: forwards;
}
@keyframes panel-text-animation {
  100% {
    opacity: 0;
  }
}
@keyframes panel-animation {
  100% {
    opacity: 0;
    display: none;
  }
}

.cursor-shadow {
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px #555555;
  border: solid 3px transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #2c2c2c;
  border: solid 3px transparent;
  border-radius: 1rem;
}
