@import url(variables.css);
@media (min-width: 1000px) and (orientation: landscape) {
  body {
    height: 100vh;
    overflow: hidden;
  }
  .container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 82% 3%;
    height: calc(100vh - 2rem);
    margin: 1rem;
    padding: 0;
    overflow-y: hidden;
  }

  /* Header */
  .header {
    display: inline-block;
    grid-area: 2 /2 / 2 / 2;
  }
  .header__nav-desktop {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  .header__nav-desktop__ul {
    position: relative;
    color: var(--main-white);
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.75rem;
  }
  .header__nav-desktop__ul li {
    cursor: pointer;
    text-align: center;
    transition: scale 100ms ease-out, text-shadow 100ms ease-out;
  }
  .header__nav-desktop__ul--li:hover {
    scale: 1.075;
    text-shadow: 0 5px 7px var(--shadow-white);
  }
  .header__nav-desktop__ul--li-Selected {
    scale: 1.075;
    text-shadow: 0 5px 7px var(--green);
    color: var(--green);
  }
  .header__nav-desktop__ul--li-Selected:hover {
    scale: 1.075;
    text-shadow: 0 5px 7px var(--green);
  }
  .header__nav__ul__border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
  }
  .header__nav__ul__border--span1,
  .header__nav__ul__border--span3 {
    width: 8rem;
    height: 0.1rem;
  }
  .header__nav__ul__border--span2,
  .header__nav__ul__border--span4 {
    height: 7rem;
    width: 0.1rem;
  }
  .header__nav__ul__border--span1,
  .header__nav__ul__border--span2 {
    left: 0;
    top: 0;
  }
  .header__nav__ul__border--span3,
  .header__nav__ul__border--span4 {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }

  /* Titles */
  .section {
    align-items: start;
    margin-left: 1rem;
    color: var(--main-white);
  }
  .section--h1 {
    margin: 0;
    font-size: 3.25rem;
  }
  .section--hr {
    display: none;
  }
  .section--h2 {
    font-size: 2rem;
    position: relative;
    bottom: 0.4rem;
  }

  /* Social Networks */
  .aside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 1.5rem;
  }
  .aside__ul {
    display: flex;
    font-size: 2rem;
    gap: 1.75rem;
    position: relative;
    padding: 0.5rem 1rem;
  }
  .aside__ul li {
    transform: translateX(0.2rem);
    cursor: pointer;
    transition: scale 100ms ease-out, text-shadow 100ms ease-out;
  }
  .aside__ul li:hover {
    scale: 1.1;
    color: var(--green);
    text-shadow: 0 5px 10px var(--green);
  }
  .aside__border {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .aside__border--span1,
  .aside__border--span3 {
    width: 5rem;
    height: 0.1rem;
  }
  .aside__border--span2,
  .aside__border--span4 {
    height: 2rem;
    width: 0.15rem;
  }
  .aside__border--span1,
  .aside__border--span2 {
    left: 100%;
    transform: translateX(-100%);
  }
  .aside__border--span3,
  .aside__border--span4 {
    top: 100%;
    transform: translateY(-100%);
  }

  /* Main */
  .main {
    grid-area: 2 / 1 / 2 / 2;
    margin: 3rem 0 0 2rem;
    align-items: start;
    padding: 0;
    width: min-content;
    height: max-content;
  }
  .main__contact,
  .main__about,
  .main__projects {
    margin: 1rem;
  }
  /* About */
  .main__about {
    min-width: 400px;
    margin-right: 0;
  }
  .main__about--h3 {
    font-size: 3rem;
    display: inline-block;
  }
  .main__about--p {
    font-size: 1rem;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  /* Contact */
  .main__contact {
    max-height: 65vh;
    overflow-y: auto;
  }
  .main__contact--h3 {
    font-size: 3rem;
  }
  .main__contact--p {
    font-size: 1rem;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .main__contact__form {
    min-width: 500px;
  }

  /* projects */
  .main__projects {
    min-width: 300px;
    z-index: 100;
  }
  .main__projects__project {
    position: relative;
  }

  .main__projects__project:hover * {
    transition: color 250ms;
    color: var(--green);
  }
  .main__projects__project:hover::after {
    left: 100%;
    background-color: var(--dark-green);
  }
  /* Footer */
  .footer {
    grid-area: 3/1/3/3;
    align-self: center;
    justify-self: start;
    margin-left: 0.5rem;
  }

  /* Displays */
  .mobile-div {
    display: none;
  }

  .lines {
    display: block;
    opacity: 0.5;
    z-index: -1000;
  }

  .cursor-shadow {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 60rem;
    width: 60rem;
    background: radial-gradient(
      circle,
      rgba(35, 88, 35, 0.1),
      transparent,
      transparent
    );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 500;
  }
}
@media (max-width: 999px) and (orientation: portrait) {
  .main__projects__project:active * {
    transition: color 500ms;
    color: var(--green);
  }
  .main__projects__project:active::after {
    left: 100%;
    background-color: var(--dark-green);
  }

  .main__projects__project {
    -webkit-tap-highlight-color: transparent;
  }
}
@media (height < 640px) {
  .footer {
    display: none;
  }
}
